<style>
    .card-header2 {


        background-color: rebeccapurple;


    }

</style>




<div class="container-fluid">
    <div class="row">

        <div class="col-md-3">
            <div class="card ">
                <div class="card-header" style="background-color: rebeccapurple;">
                    <h4 class="card-title" style="color: aliceblue;">USER {{$scope.userCount}}</h4>

                </div>
                <div class="card-body ">
                    {{userCount}}
                </div>

            </div>

        </div>


        <div class="col-md-3">
            <div class="card ">
                <div class="card-header" style="background-color: rebeccapurple;">
                    <h4 class="card-title" style="color: aliceblue;">STAFF</h4>

                </div>
                <div class="card-body ">
                    {{staffCount}}
                </div>
            </div>

        </div>


        <div class="col-md-3">
            <div class="card ">
                <div class="card-header" style="background-color: rebeccapurple;">
                    <h4 class="card-title" style="color: aliceblue;">FILES</h4>

                </div>
                <div class="card-body ">
                    {{fileCount}}
                </div>
            </div>

        </div>


        <div class="col-md-3">
            <div class="card ">
                <div class="card-header" style="background-color: rebeccapurple;">
                    <h4 class="card-title" style="color: aliceblue;">COMPLAINTS</h4>

                </div>
                <div class="card-body ">
                    {{complaintCount }}
                </div>
            </div>

        </div>

    </div>
</div>


<!--
   <div class="row">
   
       <div class="col"><i class="fas fa-users"></i>   </div>
       <div class="col">
           <div class="row">USERS</div>
           <div class="row">567</div>
           
       </div>
  </div>
  <div class="row">
   
       <div class="col"><i class="fas fa-users"></i>   </div>
       <div class="col">
           <div class="row">USERS</div>
           <div class="row">567</div>
           
       </div>
  </div>
  <div class="row">
   
       <div class="col"><i class="fas fa-users"></i>   </div>
       <div class="col">
           <div class="row">USERS</div>
           <div class="row">567</div>
           
       </div>
  </div>
  <div class="row">
   
       <div class="col"><i class="fas fa-users"></i>   </div>
       <div class="col">
           <div class="row">USERS</div>
           <div class="row">567</div>
           
       </div>
  </div>
-->

</div>
