<center > 
  <div style=" border-radius: 20px; margin-top: 215px; width: 48rem; margin-left: 124px; padding:10px; box-shadow: 8px 31px 241px -18px; background-color:darkorchid;" class="box box-primary">
            <div class="box-header with-border">
              <h3 style="color: aliceblue;" class="box-title">Login </h3>
            </div>
            
            <form role="form" ng-submit="clientLogin()">
              <div class="box-body">
                <div class="form-group">
                
                  <input  type="email" class="form-control" ng-model="clientDetail.email" id="exampleInputEmail1" placeholder="Enter email" ng-model="getemail">
                </div>
                <div class="form-group">
                  
                  <input type="password" class="form-control" ng-model="clientDetail.password" id="exampleInputPassword1" placeholder="Password" ng-model="getpass">
                </div>
               
                
              </div>
              

              <div class="box-footer">
                <button type="submit" class="btn btn-primary">Login</button>
               
              </div>
            </form>
          </div>
       </center>
       















<!--


<div  style="200px 200px;" >
        <div class="row" style="margin-top: -100px;">
            
            
            <div class="fullheight greenColor">


                <form class="w3-container contMargin" ng-submit="clientLogin()">

                    <p>

                        <input class="w3-input" type="text" ng-model="clientDetail.email" placeholder="Enter Your email"></p>


                    <p>

                        <input class="w3-input" type="password" ng-model="clientDetail.password" placeholder="******"></p>

                    <ul class="log-btn-client">

                        <li> <Button type="submit" class="button-client-log">Login</Button></li>
                        <li> <a href="#" class="button-client-forgot">Forget Password ?</a></li>
                    </ul>
                </form>

            </div>

        </div>

</div>
-->
