<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
    <META http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body>
    <div>
        <div style="background-color:aliceblue;margin:150px 350px 350px 350px;padding:50px">
            <center>
                <h2 style="font-family:sans-serif"> CHANGE PASSWORD </h2>
                <form target="_blank" onsubmit="try {return window.confirm(&quot;You are submitting information to an external page.\nAre you sure?&quot;);} catch (e) {return false;}">
                    <table>
                        <tr>
                            <td><input style="margin:10px 0px;padding:10px 5px" type="password"></td>
                        </tr>
                        <tr>
                            <td><input style="margin:10px 0px;padding:10px 5px" type="password"></td>
                        </tr>
                        <tr>
                            <td><button style="margin:10px 0px;padding:10px 15px;background-color:black;color:aliceblue;font-family:sans-serif">Submit</button></td>
                            <td>
                                <p></p>
                            </td>
                        </tr>
                    </table>
                </form>
            </center>
        </div>
    </div>
</body>

</html>
