#w1{
    background-color: #333333;
    height: 70px;
    color: #eaece1;
    text-align: center;
    font-size: 26px;
    padding-top: 18px;
}
#w2{
   background-color: #cccccc; 
     height: 70px;
}
#w3{
    height: 602px;
    background-color:#666666 ;
}
.w4{
    text-align: center;
    line-height: 2;
    color: #eaece1;
}
#w32{
    text-align: center;
    line-height: 2;
    color: aqua;
}
#w5{
    margin-left: 90px;
    margin-top: 80px;
    
}
.label-success{
    height: 50px;
}
#w6{
    height: 602px;
    background-color: #dddddd;
}
#w11{
    text-align: center;
    padding-top: 15px;
    font-size: 23px;
    padding-left: 62px;
}
#w31{
    text-align: center;
    padding-top: 15px;
    font-size: 23px;
    color:#1d66e3; 
    padding-right: 41px;
}
#w12{
    text-align: center;
    padding-top: 15px;
    color: #29ab1d;
    font-size: 23px;
    padding-right: 106px;
}
#w13{
   text-align: center;
    padding-top: 9px;
    color: #1d66e3;
    font-size: 23px;
}
#w41{
    font-size: xx-large;9
}